.modal {
  position: relative;
  width: 960px;
  min-height: 360px;
  background-color: white;
  padding: 50px;
  box-shadow: 0 0 15px 3px rgb(0 0 0 / 50%);
}

.title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #333333;
}

.content {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #333333;
  margin-top: 20px;
}

.container {
  min-width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  top: 15%;
  /* left: 50%;
  transform: translateX(-50%); */
}