.menuItemsList {
  display: flex;
  flex-direction: column;
  width: 140px;
  border: 10px;
  align-items: center;
  top: 0;
  left: 0;
}

.menuItem {
  display: flex;
  width: 110px;
  padding: 10px 0;
  z-index: 10;
  cursor: pointer;
}

.text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #999999;
  margin-left: 5px;
}

.menuitem:first {
  position: relative;
}

.divider {
  content: '';
  height: 1px;
  width: 100px;
  background-color: #ECECEC;
}

.menuItemDisplay {
  display: flex;
  width: 110px;
  padding: 10px 0;
  z-index: 10;
  cursor: pointer;
}

@media all and (min-width: 320px) and (max-width: 1023px) {
  .menuItemDisplay {
    display: none;
    width: 110px;
    padding: 10px 0;
    z-index: 10;
    cursor: pointer;
  }
}