.commentсard {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-left: 40px;
}

.container {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.information {
  display: flex;
  gap: 5px;
}

.imgAuthor {
  width: 20px;
  height: 20px;
}

.name {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #CC6633;
}

.time {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: rgba(153, 153, 153, 1);
}

.clan {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: rgba(51, 51, 51, 1);
  padding: 3px 7px;
  background-color: rgba(217, 217, 217, 1);
}

.text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
}

.options {
  display: flex;
  gap: 25px;
}

.button {
  display: flex;
  gap: 5px;
}

.buttonText {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #999;
}

.inputForm {
  padding: 15px;
  height: 90px;
  width: 100%;
  resize: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #999999;
}

.buttonForm {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  background: #CC6633;
  border-radius: 0px 0px 3px 0px;
  color: #FFFFFF;
  padding: 17px 50px;
  margin-top: -5px;
}

.buttonForm:disabled {
  opacity: 0.5;
  cursor: default;
}

.noneDs {
  display: none;
}

/* .inputForm:focus {
  transition: 0.1s all;
  outline: 3px solid rgba(84, 81, 81, 1);
  ;
} */

.CommentCard {
  position: relative;
}

.CommentCard::after {
  position: absolute;
  content: '';
  top: -10px;
  left: 0;
  border: 10px solid transparent;
  border-bottom: 10px solid #D9D9D9;
  cursor: pointer;
}

.CommentCard::before {
  cursor: pointer;
  position: absolute;
  content: '';
  top: 20px;
  left: 0;
  border: 10px solid transparent;
  border-top: 10px solid #D9D9D9;
}

.leftLine {
  height: calc(100% - 50px);
  display: block;
  position: absolute;
  left: 8.5px;
  bottom: 0;
  width: 3px;
  position: absolute;
  background-color: #D9D9D9;
}