.container {
  width: 100%;
  flex: 1 1 0;
}

.listContainer {
  /* position: relative;  */
  /* position: relative; */
  z-index: 100;
  /* transform: translateX(25px); */
}

.list {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
}

.menuButton {
  width: 31px;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(90deg);
  border-radius: 31px;
}

.menuButton:active {
  background-color: rgba(51, 51, 51, 0.1);
}

@media all and (min-width: 1024px) {
  .menu {
    position: relative;
    order: 2;
    display: flex;
    align-items: center;
    flex: 0 0;
    top: unset;
    right: unset;
    margin: 0 0 0 auto;
  }

  .menuButton {
    align-self: center;
    transform: unset;
  }
}

@media all and (min-width: 1540px) {
  .menuButton:hover {
    background-color: rgba(51, 51, 51, 0.1);
  }
}

.menuItemsList {
  display: flex;
  flex-direction: column;
  width: 140px;
  border: 10px;
  align-items: center;
  top: 0;
  left: 0;
}

.menuItem {
  display: flex;
  width: 110px;
  padding: 10px 0;
  z-index: 10;
  cursor: pointer;
}

.text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #999999;
  margin-left: 5px;
}

.menuitem:first {
  position: relative;
}

.divider {
  content: '';
  height: 1px;
  width: 100px;
  background-color: #ECECEC;
}

.menuItemDisplay {
  display: flex;
  width: 110px;
  padding: 10px 0;
  z-index: 10;
  cursor: pointer;
}

@media all and (min-width: 320px) and (max-width: 1023px) {
  .menuItemDisplay {
    display: none;
    width: 110px;
    padding: 10px 0;
    z-index: 10;
    cursor: pointer;
  }
}