.s28 {
  font-size: 28px;
  line-height: 33px;
}

.s20 {
  font-size: 20px;
  line-height: 23px;
}

.s16 {
  font-size: 16px;
  line-height: 19px;
}

.s14 {
  font-size: 14px;
  line-height: 16px;
}

.s12 {
  font-size: 12px;
  line-height: 14px;
}

.s10 {
  font-size: 10px;
  line-height: 12px;
}

.bold {
  font-weight: 700;
}

.black {
  color: #333333;
}

.orange {
  color: #CC6633;
}

.greyD9 {
  color: #D9D9D9;
}

.white {
  color: #fff;
}

.green {
  color: green;
}

.grayF4 {
  color: #F4F4F4;
}

.grayF3 {
  color: #F3F3F3;
}

.grayC4 {
  color: #C4C4C4;
}

.gray99 {
  color: #999999;
}

.gray66 {
  color: #666666;
}


@media all and (min-width: 320px) and (max-width: 1023px) {
  .m28 {
    font-size: 28px;
    line-height: 33px;
  }

  .m20 {
    font-size: 20px;
    line-height: 23px;
  }

  .m16 {
    font-size: 16px;
    line-height: 19px;
  }

  .m14 {
    font-size: 14px;
    line-height: 16px;
  }

  .m12 {
    font-size: 12px;
    line-height: 14px;
  }

  .m10 {
    font-size: 10px;
    line-height: 12px;
  }
}

@media all and (min-width: 1024px) and (max-width: 1539px) {
  .t28 {
    font-size: 28px;
    line-height: 33px;
  }

  .t20 {
    font-size: 20px;
    line-height: 23px;
  }

  .t16 {
    font-size: 16px;
    line-height: 19px;
  }

  .t14 {
    font-size: 14px;
    line-height: 16px;
  }

  .t12 {
    font-size: 12px;
    line-height: 14px;
  }

  .t10 {
    font-size: 10px;
    line-height: 12px;
  }
}

@media all and (min-width: 1539px) {
  .d28 {
    font-size: 28px;
    line-height: 33px;
  }

  .d20 {
    font-size: 20px;
    line-height: 23px;
  }

  .d16 {
    font-size: 16px;
    line-height: 19px;
  }

  .d14 {
    font-size: 14px;
    line-height: 16px;
  }

  .d12 {
    font-size: 12px;
    line-height: 14px;
  }

  .d10 {
    font-size: 10px;
    line-height: 12px;
  }
}