.userBox{
  cursor: pointer;
  display: flex;
  align-items: center;
}

.userBox:hover span {
  color: #CC6633;
}

.userBox:hover .avatarBox{
  box-shadow: 0 0 0 1px #CC6633;
  transition: 0.3s all;
}

.avatarBox {
  width: 60px;
  height: 60px;
  padding: 5px;
  border-radius: 100%;
  box-shadow: none;
}

.avatarImage{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
}

.username{
  margin-left: 10px;
}