.s4 {
  padding: 0 4px 0 0;
}

.s8 {
  padding: 0 8px 0 0;
}

.s12 {
  padding: 0 12px 0 0;
}

.s16 {
  padding: 0 16px 0 0;
}

.s20 {
  padding: 0 20px 0 0;
}

.inline {
  display: inline;
}

.top.s4 {
  padding: 4px 0 0;
}

.top.s8 {
  padding: 8px 0 0;
}

.top.s12 {
  padding: 12px 0 0;
}

.top.s16 {
  padding: 16px 0 0;
}

.top.s20 {
  padding: 20px 0 0;
}

@media all and (max-width: 1023px) {
  .mobile_s4 {
    padding: 0 4px 0 0;
  }

  .mobile_s8 {
    padding: 0 8px 0 0;
  }

  .mobile_s12 {
    padding: 0 12px 0 0;
  }

  .mobile_s16 {
    padding: 0 16px 0 0;
  }

  .mobile_s20 {
    padding: 0 20px 0 0;
  }

  .top.mobile_s4 {
    padding: 4px 0 0;
  }

  .top.mobile_s8 {
    padding: 8px 0 0;
  }

  .top.mobile_s12 {
    padding: 12px 0 0;
  }

  .top.mobile_s16 {
    padding: 16px 0 0;
  }

  .top.mobile_s20 {
    padding: 20px 0 0;
  }
}

@media all and (min-width: 1024px) and (max-width: 1539px) {
  .tablet_s4 {
    padding: 0 4px 0 0;
  }

  .tablet_s8 {
    padding: 0 8px 0 0;
  }

  .tablet_s12 {
    padding: 0 12px 0 0;
  }

  .tablet_s16 {
    padding: 0 16px 0 0;
  }

  .tablet_s20 {
    padding: 0 20px 0 0;
  }

  .top.tablet_s4 {
    padding: 4px 0 0;
  }

  .top.tablet_s8 {
    padding: 8px 0 0;
  }

  .top.tablet_s12 {
    padding: 12px 0 0;
  }

  .top.tablet_s16 {
    padding: 16px 0 0;
  }

  .top.tablet_s20 {
    padding: 20px 0 0;
  }
}

@media all and (min-width: 1540px) {
  .desktop_s4 {
    padding: 0 4px 0 0;
  }

  .desktop_s8 {
    padding: 0 8px 0 0;
  }

  .desktop_s12 {
    padding: 0 12px 0 0;
  }

  .desktop_s16 {
    padding: 0 16px 0 0;
  }

  .desktop_s20 {
    padding: 0 20px 0 0;
  }

  .top.desktop_s4 {
    padding: 4px 0 0;
  }

  .top.desktop_s8 {
    padding: 8px 0 0;
  }

  .top.desktop_s12 {
    padding: 12px 0 0;
  }

  .top.desktop_s16 {
    padding: 16px 0 0;
  }

  .top.desktop_s20 {
    padding: 20px 0 0;
  }
}

button {
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
}

.card {
  position: relative;
  background-color: var(--white);
  border-radius: 7px;
  padding: 20px 20px 10px;
  display: flex;
  flex-flow: row wrap;
}

.card>*,
.textContent>* {
  flex: 1 1 100%;
}

.card>*+* {
  padding: 13px 0 0;
}

.card:hover h2 a,
.card:focus-within h2 a {
  color: var(--orange);
}

@media all and (min-width: 1024px) {
  .card {
    background-color: transparent;
    flex-flow: row nowrap;
    max-height: 107px;
    padding: 0 40px;
  }

  .card>* {
    flex: 0 0;
  }

  .card>*+* {
    padding: 0;
  }
}

@media all and (min-width: 1540px) {
  .card {
    padding: 20px 60px;
    max-height: 147px;
    cursor: pointer;
  }

  .card:hover,
  .card:focus-within {
    outline: 1px solid var(--grey-demi-dark);
  }
}

@media all and (min-width: 1024px) {
  .cardsList {
    padding: 40px 0;
  }
}

.commentsButton {
  display: flex;
  align-items: normal;
}

.commentsButton * {
  color: var(--greyC4);
}

.commentsNumber {
  padding: 0 0 0 6px;
  font-size: 12px;
  line-height: 14px;
}

@media all and (min-width: 1024px) {
  .commentsButton {
    display: none;
  }
}

.form {
  display: flex;
  flex-direction: column;
}

.input {
  height: 89px;
  border: 1px solid #D9D9D9;
  padding: 16px;
  box-sizing: border-box;
  border-radius: 3px 3px 0px 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #999999;
  resize: none;
}

.input[aria-invalid] {
  border-color: red;
}

.button {
  width: 220px;
  height: 50px;
  background: #CC6633;
  border-radius: 0px 0px 3px 0px;
  align-self: flex-end;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
}

.button:disabled {
  opacity: 0.5;
  cursor: default;
}

.content {
  overflow: hidden;
}

@media all and (min-width: 1024px) {
  .content {
    background-color: var(--white);
    border-radius: 7px 7px 0 0;
  }
}

.controls {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.actions {
  display: flex;
  flex-flow: row nowrap;
}

.actions>*+* {
  margin: 0 0 0 13px;
}

@media all and (min-width: 1024px) {
  .controls {
    order: 3;
    flex: 0 0;
    margin: 0 0 0 24px;
  }

  .actions {
    display: none;
  }
}

.container {
  width: 100%;
  flex: 1 1 0%;
}

.listContainer {
  position: relative;
}

.list {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

@media all and (min-width: 1024px) {
  .header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 40px;
  }
}

@media all and (min-width: 1540px) {
  .header {
    padding: 67px 0;
  }
}

.karmaCounter>*+* {
  padding: 0 0 0 4px;
}

.karmaValue {
  color: var(--greyC4);
  font-size: 12px;
  line-height: 14px;
}

svg.down {
  transform: rotate(180deg);
}

@media all and (min-width: 1024px) {
  .karmaCounter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
  }

  .karmaCounter>*+* {
    padding: 7px 0 0;
  }

  .karmaValue {
    font-size: 14px;
    line-height: 16px;
    color: var(--black);
  }
}

@media all and (min-width: 1540px) {
  .karmaCounter>button.up:hover>svg>path {
    fill: var(--green);
  }

  .karmaCounter>button.down:hover>svg>path {
    fill: var(--orange);
  }
}

.layout {
  max-width: 1400px;
  margin: 0 auto;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --black: #333333;
  --orange: #CC6633;
  --green: #A4CC33;
  --whiteLightness: 100%;
  --white: hsl(0, 0%, var(--whiteLightness));
  --grayF4: hsl(0, 0%, calc(var(--whiteLightness) - 4%));
  --greyF3: hsl(0, 0%, calc(var(--whiteLightness) - 5%));
  --greyEC: hsl(0, 0%, calc(var(--whiteLightness) - 7%));
  --greyD9: hsl(0, 0%, calc(var(--whiteLightness) - 15%));
  --greyC4: hsl(0, 0%, calc(var(--whiteLightness) - 23%));
  --grey99: hsl(0, 0%, calc(var(--whiteLightness) - 40%));
  --grey66: hsl(0, 0%, calc(var(--whiteLightness) - 60%));
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--grayF4);
  font-size: 14px;
  line-height: 16px;
  font-family: 'Roboto', serif;
}

* {
  color: var(--black);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
}

.menu {
  position: absolute;
  top: 17px;
  right: 15px;
  padding: 0;
}

.menuButton {
  width: 31px;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(90deg);
  border-radius: 31px;
}

.menuButton:active {
  background-color: rgba(51, 51, 51, 0.1);
}

.dropdown {
  position: absolute;
  right: 0;
  top: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  background-color: var(--white);
}

.closeButton {
  background-color: var(--greyD9);
  padding: 12px 23px;
  border-radius: 0 0 3px 3px;
  width: 100%;
}

@media all and (min-width: 1024px) {
  .menu {
    position: relative;
    order: 2;
    display: flex;
    align-items: center;
    flex: 0 0;
    top: unset;
    right: unset;
    margin: 0 0 0 auto;
  }

  .menuButton {
    align-self: center;
    transform: unset;
  }
}

@media all and (min-width: 1540px) {
  .menuButton:hover {
    background-color: rgba(51, 51, 51, 0.1);
  }
}

.menuItemsList {
  padding: 0 20px;
}

.menuItem {
  padding: 12px 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.menuItem>svg+span {
  margin-left: 7px;
}

.divider {
  height: 1px;
  width: 100%;
  background-color: var(--greyEC);
}

.modal {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: auto;
  background: #FFFFFF;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);
  border-radius: 7px;
  min-width: 200px;
  min-height: 160px;
  max-width: 80%;
  padding: 24px;
  margin-bottom: 25px;
}

.content {
  overflow-y: auto;
}

.close {
  align-self: flex-end;
  width: 40px;
  height: 40px;
  margin: -24px;
  color: #000
}

.preview {
  max-height: 178px;
  margin: 0 -20px;
}

.previewImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media all and (min-width: 1024px) {
  .preview {
    flex-basis: 190px;
    order: 0;
    margin: 0;
  }
}

.saveButton {
  width: 20px;
  height: 20px;
}

.searchBlock {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 14px 20px;
  background-color: var(--white);
  border-radius: 0 0 7px 7px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin: 0 0 38px;
}

@media all and (min-width: 1024px) {
  .searchBlock {
    padding: 0;
    margin: 0 0 0 auto;
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    order: 3;
  }
}

.shareButton {
  width: 20px;
  height: 20px;
}

.sortBlock {
  background-color: var(--white);
  padding: 11px 20px;
  border-radius: 7px;
  margin: 0 0 20px;
}

@media all and (min-width: 1024px) {
  .sortBlock {
    background-color: transparent;
    padding: 0;
    margin: 0;
    border-radius: 0;
  }
}

.s28 {
  font-size: 28px;
  line-height: 33px;
}

.s20 {
  font-size: 20px;
  line-height: 23px;
}

.s16 {
  font-size: 16px;
  line-height: 19px;
}

.s14 {
  font-size: 14px;
  line-height: 16px;
}

.s12 {
  font-size: 12px;
  line-height: 14px;
}

.s10 {
  font-size: 10px;
  line-height: 12px;
}

.black {
  color: var(--black);
}

.orange {
  color: var(--orange);
}

.green {
  color: var(--green);
}

.white {
  color: var(--white);
}

.grayF4 {
  color: var(--grayF4);
}

.greyF3 {
  color: var(--greyF3);
}

.greyD9 {
  color: var(--greyD9);
}

.greyC4 {
  color: var(--greyC4);
}

.grey99 {
  color: var(--grey99);
}

.grey66 {
  color: var(--grey66);
}

.upperCase {
  text-transform: uppercase;
}

@media all and (min-width: 320px) and (max-width: 1023px) {
  .m28 {
    font-size: 28px;
    line-height: 33px;
  }

  .m20 {
    font-size: 20px;
    line-height: 23px;
  }

  .m16 {
    font-size: 16px;
    line-height: 19px;
  }

  .m14 {
    font-size: 14px;
    line-height: 16px;
  }

  .m12 {
    font-size: 12px;
    line-height: 14px;
  }

  .m10 {
    font-size: 10px;
    line-height: 12px;
  }
}

.bold {
  font-weight: 500;
}

@media all and (min-width: 1024px) and (max-width: 1539px) {
  .t28 {
    font-size: 28px;
    line-height: 33px;
  }

  .t20 {
    font-size: 20px;
    line-height: 23px;
  }

  .t16 {
    font-size: 16px;
    line-height: 19px;
  }

  .t14 {
    font-size: 14px;
    line-height: 16px;
  }

  .t12 {
    font-size: 12px;
    line-height: 14px;
  }

  .t10 {
    font-size: 10px;
    line-height: 12px;
  }
}

@media all and (min-width: 1540px) {
  .d28 {
    font-size: 28px;
    line-height: 33px;
  }

  .d20 {
    font-size: 20px;
    line-height: 23px;
  }

  .d16 {
    font-size: 16px;
    line-height: 19px;
  }

  .d14 {
    font-size: 14px;
    line-height: 16px;
  }

  .d12 {
    font-size: 12px;
    line-height: 14px;
  }

  .d10 {
    font-size: 10px;
    line-height: 12px;
  }
}

.sortBlock {
  background-color: var(--white);
  padding: 11px 20px;
  border-radius: 7px;
  margin: 0 0 20px;
}

@media all and (min-width: 1024px) {
  .sortBlock {
    background-color: transparent;
    padding: 0;
    margin: 0;
    border-radius: 0;
  }
}

.textContent {
  display: flex;
  flex-flow: row wrap;
}

.textContent>*+* {
  padding: 7px 0 0;
}

.metaData {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-size: 10px;
  line-height: 12px;
}

.publishedLabel {
  display: none;
}

.createdAt,
.createdAt span {
  color: var(--grey99);
}

@media all and (min-width: 1024px) {
  .textContent {
    flex-basis: 540px;
    order: 1;
    margin: 0 0 0 38px;
    flex-flow: column-reverse nowrap;
    justify-content: center;
  }

  .textContent>* {
    flex: 0 0;
  }

  .metaData {
    flex-flow: row-reverse nowrap;
    justify-content: flex-end;
    font-size: 14px;
    line-height: 16px;
  }

  .publishedLabel {
    display: inline;
  }
}

@media all and (min-width: 1540px) {
  .textContent {
    flex-basis: 672px;
  }
}

.threadTitle {
  font-weight: normal;
  padding: 0 20px;
  font-size: 20px;
  line-height: 23px;
  margin: 0 0 15px;
}

@media all and (min-width: 1024px) {
  .threadTitle {
    padding: 0;
    margin: 0 27px 0 0;
    font-size: 28px;
    line-height: 33px;
  }
}

.title {
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  margin: 0;
}

.postLink {
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

.postLink::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@media all and (min-width: 1024px) {
  .textContent {
    flex-basis: 540px;
    order: 1;
    margin: 0 0 0 38px;
    flex-flow: column-reverse nowrap;
    justify-content: center;
  }

  .textContent>* {
    flex: 0 0;
  }

  .title {
    padding: 0 0 10px 0;
    font-size: 20px;
    line-height: 23px;
  }

  .postLink {
    -webkit-line-clamp: 1;
  }
}

.userBox {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.userBox:hover span {
  color: var(--orange);
}

.userBox:hover .avatarBox {
  box-shadow: 0 0 0 1px var(--orange);
}

.avatarBox {
  width: 60px;
  height: 60px;
  padding: 5px;
  border-radius: 100%;
  box-shadow: none;
}

.avatarImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
}

/* .username {
  display: none;
} */

@media all and (min-width: 1024px) {
  .username {
    display: flex;
  }
}

.userLink {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 20px;
  padding: 0 6px 0 0;
}

.avatar {
  border-radius: 20px;
  width: 20px;
  height: 20px;
  margin: 0 7px 0 0;
}

.username {
  color: var(--orange);
  position: relative;
  z-index: 1;
}

@media all and (min-width: 1024px) {
  .userLink {
    padding: 0 0 0 5px;
  }
}

@media all and (min-width: 1540px) {
  .userLink:hover a {
    text-decoration: underline;
  }
}