@media all and (min-width: 1024px) {
  .header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 40px;
  }
}

@media all and (min-width: 1540px) {
  .header {
    padding: 67px 0;
  }
}

.headerWrapper{
  display: flex;
  align-items: center;
  width: 100%;
  margin-right: 50px;
}