.controls {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.actions {
  display: flex;
  flex-flow: row nowrap;
}

.actions>*+* {
  margin: 0 0 0 13px;
}

@media all and (min-width: 1024px) {
  .controls {
    order: 3;
    flex: 0 0;
    margin: 0 0 0 24px;
  }

  .actions {
    display: none;
  }
}

.container {
  width: 100%;
  flex: 1 1 0%;
}

.listContainer {
  position: relative;
}

.list {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.karmaCounter>*+* {
  padding: 0 0 0 4px;
}

.karmaValue {
  color: var(--greyC4);
  font-size: 12px;
  line-height: 14px;
}

svg.down {
  transform: rotate(180deg);
}

@media all and (min-width: 1024px) {
  .karmaCounter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
  }

  .karmaCounter>*+* {
    padding: 7px 0 0;
  }

  .karmaValue {
    font-size: 14px;
    line-height: 16px;
    color: var(--black);
  }
}

@media all and (min-width: 1540px) {
  .karmaCounter>button.up:hover>svg>path {
    fill: var(--green);
  }

  .karmaCounter>button.down:hover>svg>path {
    fill: var(--orange);
  }
}

@media all and (min-width: 1540px) {
  .karmaCounter>button.up:hover>svg>path {
    fill: var(--green);
  }

  .karmaCounter>button.down:hover>svg>path {
    fill: var(--orange);
  }
}

.karmaValue {
  color: var(--greyC4);
  font-size: 12px;
  line-height: 14px;
}

svg.down {
  transform: rotate(180deg);
}

@media all and (min-width: 1024px) {
  .karmaCounter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
  }

  .karmaCounter>*+* {
    padding: 7px 0 0;
  }

  .karmaValue {
    font-size: 14px;
    line-height: 16px;
    color: var(--black);
  }
}

.commentsButton {
  display: flex;
  align-items: normal;
}

.commentsButton * {
  color: var(--greyC4);
}

.commentsNumber {
  padding: 0 0 0 6px;
  font-size: 12px;
  line-height: 14px;
}

@media all and (min-width: 1024px) {
  .commentsButton {
    display: none;
  }
}

.commentsNumber {
  padding: 0 0 0 6px;
  font-size: 12px;
  line-height: 14px;
}

.actions {
  display: flex;
  flex-flow: row nowrap;
}

.actions>*+* {
  margin: 0 0 0 13px;
}

@media all and (min-width: 1024px) {
  .controls {
    order: 3;
    flex: 0 0;
    margin: 0 0 0 24px;
  }

  .actions {
    display: none;
  }
}

.shareButton {
  width: 20px;
  height: 20px;
}

.saveButton {
  width: 20px;
  height: 20px;
}