@media all and (min-width: 1024px) {
  .cardsList {
    padding: 40px 0;
    overflow-y: hidden;
    z-index: 1;
    position: relative;
  }
}

/* 
.containerBtn{
  display: flex;
  justify-content: center;
  height: 50px;
} */

.button {
  background-color: var(--orange);
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  display: block;
  margin: 0 auto;
  padding: 15px 50px;
  border-radius: 5px;
  margin-top: 20px;
}

.button:hover {
  box-shadow: 0 0 10px var(--orange);
  transition: 0.3s all;
}